@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #755139ff;
  --secondary-color: #d4b996ff;
}
body {
  background-color: var(--primary-color);
}
html {
  font-size: 75.5%;
}
.header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(https://github.com/Kirti-salunkhe/OpenBook/blob/main/src/Components/bg1.png?raw=true);
  justify-content: center;
}

.row2 {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.row2 h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}

.row1 h1 {
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  padding: 10px 20px;
  /* margin-top: 50px; */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  outline: 0;
  border: 0;
  width: 100%;
  height: 35px;
  padding: 0 1rem;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px 0 0 8px;
}
.search button {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.search-btnn {
  color: #755139ff;
  width: 50px;
  height: 25px;
}

.container {
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 100px;
  box-sizing: border-box;
  padding: 50px;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  transition: 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.card:hover {
  transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.8);
}
.card img {
  width: 100%;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
}
.card .bottom {
  display: flex;
  flex-direction: column;
}
.card .bottom .title {
  font-size: 14px;
  margin-bottom: 32px;
}
.card .bottom .amount {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: bold;
  padding: 0.2rem;
}
.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner {
  height: 100%;
  width: 100%;
  background: white;
  max-width: 700px;
  max-height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.overlay-inner .close {
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  display: flex;

}
.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4 {
  color: blue;
}
.overlay-inner .inner-box button {
  outline: none;
  border: none;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.overlay-inner .description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}

@media screen and (max-width: 900px) {
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card {
        width: 290px;
        height: 100%;
        min-height: 300px;
        /* min-height: 150px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .card img {
        height: 250px;
        object-fit: fill;
      } 
  }

@media screen and (max-width: 585px) {
    .row1 h1 {
      font-size: 2.25rem;
    }
    .row2 {
      width: 250px;
    }
    .row2 h2 {
      font-size: 1.75rem;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .card {
      width: 190px;
      height: 100%;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card img {
      height: 200px;
      object-fit: contain;
    }
    .overlay-inner {
        width: 100%;
        height: 100%;
      max-height: 550px;
      max-width: 450px;
    }
    .description {
      min-height: 180px;
      padding-bottom: 20px;
      overflow: hidden;
      max-height: 230px;
    }
    .overlay-inner .inner-box img {
      width: 200px;
      height: 190px;
    }
    .overlay-inner .inner-box h3 {
      font-size: 1.4rem;
    }
    .info h1 {
      font-size: 2rem;
      font-weight: bolder;
    }
    .overlay-inner .inner-box h4 {
      font-size: 1.2rem;
    }
  }

@media screen and (max-width: 360px) {
  .row1 h1 {
    font-size: 2rem;
  }
  .row2 {
    width: 250px;
  }
  .row2 h2 {
    font-size: 1.75rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    width: 200px;
    height: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card img {
    height: 200px;
    object-fit: contain;
  }
  .overlay-inner {
    height: 500px;
    width: 290px;
  }
  .description {
    min-height: 150px;
    padding-bottom: 20px;
    overflow: hidden;
    max-height: 230px;
  }
  .overlay-inner .inner-box img {
    width: 100px;
    height: 150px;
  }
  .overlay-inner .inner-box h3 {
    font-size: 1rem;
  }
  .info h1 {
    font-size: 1.5rem;
  }
  .overlay-inner .inner-box h4 {
    font-size: 1rem;
  }
}
 
 